/config.py
/uploads
/.idea
.vscode
/venv
*.pyc
node_modules/
spec.json
*.log
.pytest_cache/
postgres_password.txt
mwdb-vars.env
postgres-vars.env
.mypy_cache/
/malwarefront/extensions/plugins/
/malwarefront/extensions/package.json
# These directories are user-controlled
/plugins
/mail_templates
tests/frontend/cypress/videos/
tests/frontend/cypress/screenshots/

