/uploads
/.idea
.vscode
/venv
.venv
*.pyc
*.egg-info/
node_modules/
spec.json
*.log
.pytest_cache/
postgres_password.txt
mwdb-vars.env
postgres-vars.env
.mypy_cache/
docker/plugins/
docker/mail_templates/
tests/frontend/cypress/videos/
tests/frontend/cypress/screenshots/
build/
dist/
