###############################
# Malware repository settings #
###############################

[api]

repository = /opt/repository

#
# Malware database connection string
#
# Provides database driver name, credentials, host and database name.
# To get more details about configuration see:
# http://docs.sqlalchemy.org/en/latest/core/engines.html
# Example:
# dialect+driver://username:password@host:port/database
#

database = postgres://

#
# Administrator users (all samples)
#

admins = root,admin

#
# Default user name (access without basic auth)
#

default_user = default

############################################
# Static configuration repository settings #
############################################

[configs]

# MongoDB database connection string
database = mongodb://
# MongoDB database name
dbname   = malware

