# Docker Compose file for mwdb-core production service

version: "3.3"
services:
  mwdb:
    build:
      context: .
      dockerfile: deploy/docker/Dockerfile
    depends_on:
      - postgres
      - redis
    image: certpl/mwdb
    restart: on-failure
    env_file:
      # NOTE: use gen_vars.sh in order to generate this file
      - mwdb-vars.env
    volumes:
      - mwdb-uploads:/app/uploads
  mwdb-web:
    depends_on:
      - mwdb
    build:
      context: .
      dockerfile: deploy/docker/Dockerfile-web
    image: certpl/mwdb-web
    ports:
      - "80:80"
    restart: on-failure
  postgres:
    image: postgres
    restart: always
    env_file:
      # NOTE: use gen_vars.sh in order to generate this file
      - postgres-vars.env
    volumes:
      - mwdb-postgres:/var/lib/postgresql/data
  redis:
    image: redis:alpine

volumes:
  mwdb-postgres:
  mwdb-uploads:
