body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    font-size: small;
}

.content {
    margin-top: 12pt;
}

img.logo {
    height: 40px;
    margin-right: 12px;
}

img.logo-about {
    height: 120px;
}

.navbar {
    background-color: #101c28;
    padding: 0.2rem 1rem;
}

.navbar-icon {
    margin-right: 2pt;
}

.table th,
.table td {
    padding: 0.5rem;
}

.table td.nested {
    padding: 0;
    background-color: white;
}

.table tr.nested:hover {
    background-color: white;
}

.table td.nested {
    padding: 0;
    background-color: white;
}

.table.nested {
    margin-bottom: 0;
}

tr.centered td,
tr.centered th {
    vertical-align: middle;
}

.btn,
.form-control {
    font-size: small;
}

.badge {
    padding: 0.4em 0.7em;
    margin: 0 0.3em;
}

.data-table {
    max-width: none;
    table-layout: fixed;
    word-wrap: break-word;
}

.data-table th {
    width: 150px;
}

.form-hint {
    width: 100%;
    margin-top: 0.25rem;
    font-size: 80%;
}

.urlfield {
    white-space: nowrap;
    overflow: auto;
    width: 100%;
}

.user_name {
    font-size: 14px;
    font-weight: bold;
}

.pagination {
    justify-content: center;
}

.identicon {
    border: solid 1px gray;
}

.tag {
    display: inline-block;
    padding-right: 3px;
    padding-left: 3px;
    margin-bottom: 3px;
    font-size: 1.15em;
    height: 20px;
    line-height: 20px;
}

tr.today td {
    background-color: rgba(225, 250, 60, 0.2);
}

tr.recent td {
    background-color: rgba(225, 220, 60, 0.1);
}

.recent-field {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.smart-ellipsis {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
}

.smart-ellipsis .start {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    flex-shrink: 1;
    min-width: 32pt;
}

.smart-ellipsis .end {
    white-space: nowrap;
    flex-basis: content;
    flex-grow: 0;
    flex-shrink: 0;
}

div.quick-query-bar {
    margin-top: 4pt;
    margin-bottom: 6pt;
}

.sidenav .nav-link {
    border-left: #eee solid;
}

.sidenav .nav-link.active {
    border-left-color: var(--blue);
}

.sidenav .nav-link:hover {
    border-left-color: var(--info);
}

pre.attribute-object {
    margin-bottom: 0;
    display: inline-block;
}

.required:after {
    content: "*";
    color: red;
}

/***
 User login CSS
 ***/

div.user-login .container-fluid {
    background-color: white;
    max-width: 450px;
    border-radius: 10px;
}

@media (min-width: 576px) {
    div.user-login .background {
        background-color: #f2f2f2;
        position: fixed;
        top: 0;
        left: 0;
        z-index: -1;
        height: 100%;
        width: 100%;
    }

    div.user-login .container-fluid {
        margin-top: calc(-12pt + 3rem);
        padding: 3rem;
    }
}

@media (max-width: 576px) {
    div.user-login .container-fluid {
        margin-top: -12pt;
        padding: 2rem 2rem;
    }
}

/* Register form */
.register-form__container {
    background-color: white;
    padding: 3rem;
    border-radius: 10px;
    max-width: 700px;
    margin: 2rem auto;
}
@media (max-width: 768px) {
    .register-form__container {
        margin: 0 auto;
        padding: 1rem;
    }
}

@media (min-width: 768px) {
    .register-form__background {
        position: absolute;
        top: 0;
        left: 0;
        box-sizing: border-box;
        background-color: #f2f2f2;
        z-index: -1;
        height: 100vh;
        width: 100vw;
    }
}

/* Recover password form */
.user-password-recover__container {
    background-color: white;
    padding: 3rem;
    border-radius: 10px;
    max-width: 450px;
    margin: 2rem auto;
}
@media (max-width: 576px) {
    .user-password-recover__container {
        margin: 0 auto;
        padding: 1rem;
    }
}

@media (min-width: 576px) {
    .user-password-recover__background {
        position: absolute;
        top: 0;
        left: 0;
        box-sizing: border-box;
        background-color: #f2f2f2;
        z-index: -1;
        height: 100vh;
        width: 100vw;
    }
}

/***
	Material Design Switches for Bootstrap 4 and Material Design Bootstrap (MDB)
	by djibe
	JSFiddle : https://jsfiddle.net/djibe89/9deak9dh/
***/

.make-horizontal {
    display: inline-block;
}

.material-switch > input[type="checkbox"] {
    display: none;
}

.material-switch > label {
    cursor: pointer;
    height: 0px;
    position: relative;
    top: 2px;
    width: 40px;
}

.material-switch > label::before {
    background: rgb(0, 0, 0);
    box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.5);
    border-radius: 8px;
    content: "";
    height: 16px;
    margin-top: -8px;
    position: absolute;
    opacity: 0.3;
    transition: all 0.4s ease-in-out;
    width: 40px;
}

.material-switch > label::after {
    background: rgb(255, 255, 255);
    border-radius: 16px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
    content: "";
    height: 24px;
    left: -4px;
    margin-top: -8px;
    position: absolute;
    top: -4px;
    transition: all 0.3s ease-in-out;
    width: 24px;
}

.material-switch > input[type="checkbox"]:checked + label::before {
    background: inherit;
    opacity: 0.5;
}

.material-switch > input[type="checkbox"]:checked + label::after {
    background: inherit;
    left: 20px;
}

.remove-comment-link {
    font-size: 0.65rem;
}

.dropzone .card {
    cursor: pointer;
    margin-bottom: 10px;
}

.dropzone-active .card {
    border: 1px solid #28a745;
}

.marker-added {
    position: absolute;
    background-color: rgba(0, 255, 0, 0.3);
}

.marker-deleted {
    position: absolute;
    background-color: rgba(255, 0, 0, 0.3);
}

.disabled-link {
    color: gray;
    text-decoration: line-through;
}

a.blob {
    color: #00994b;
}

/* break word anywhere on long hashes or other program output */
.text-monospace {
    word-break: break-all;
}

/* Relation Graphs */
.node rect {
    fill: #fff;
    border: none;
    transition: all 0.2s ease-in-out;
}

.edgePath path {
    stroke: #333;
}

.date {
    font-size: 12px;
    float: right;
}

.node-header-expanded {
    filter: brightness(85%);
}

.expanded-node {
    background-color: rgba(225, 250, 60, 0.2);
}

.tags {
    border: none;
}

.tag {
    display: inline-block;
}

.tag-link,
.tag-link:hover {
    cursor: pointer;
    color: inherit;
    text-decoration: none;
}

.not-expanded-node > g.label:hover {
    transform: scale(1.1);
}

/* react-modal css fix */
.ReactModal__Overlay {
    z-index: 3;
}

.flickerable i {
    visibility: hidden;
}

.flickerable:hover i {
    visibility: visible;
}

.flickerable i:hover {
    color: var(--blue);
}

.flickerable i:active {
    color: var(--red);
}

.table-ul {
    padding: 0;
    list-style-position: inside;
}

.show-object {
    padding: 0 1.25rem;
}

.show-object table.table {
    margin-bottom: 0;
}

table.table.share-table {
    border-top: none;
}

table.table.share-table thead th {
    border-top: none;
}

.card {
    margin-top: 0.75rem;
}

/* Navigation icons */
.nav-item svg,
.card-header svg,
.detailed-view-header svg {
    margin-right: 6pt;
}

/* Bootstrap-Select */
.filter-option small.text-muted {
    display: none;
}

/* Marked table */
.marked-table {
    display: table;
    border-collapse: collapse;
    width: 100%;
}

.marked-table-row {
    display: table-row;
}

.marked-table-row:nth-of-type(odd) {
    background-color: rgba(0, 0, 0, 0.05);
}

.marked-table-row:hover {
    color: #212529;
    background-color: rgba(0, 0, 0, 0.075);
}

.marked-table-cell {
    display: table-cell;
    padding: 0.5rem;
    vertical-align: top;
    border: 1px solid #dee2e6;
}

.marked-table-header {
    font-weight: bold;
    background-color: #f9fafb;
    border-bottom: 1px solid #dee2e6;
}
