# mwdb-core configuration file.
#
# Values specified here can be overridden by environment variables e.g.
# MWDB_ENABLE_MAINTENANCE=1 enables maintenance mode even if
# "enable_maintenance" value in the [mwdb] section is set to 0

[mwdb]

### Basic settings

postgres_uri = {{ postgres_uri }}
secret_key = {{ secret_key }}
uploads_folder = {{ uploads_folder }}
base_url = {{ base_url }}

# Set longer timeout values if your queries last too long.
# request_timeout = 20000
# file_upload_timeout = 60000

# Timeouts are recommended values for client-side and SQL queries are not interrupted
# by finished connection. These timeouts doesn't have to be respected by the client.
# If you want to control timeout on the backend (database) side, set statement_timeout
# to desired number of milliseconds.
# statement_timeout = 0

### Web application settings

# Set serve_web to 0 to stop serving web application from MWDB backend (default: 1)
# serve_web = 0

# Path to the web application static files (default: served from pre-built package bundle)
# If you want to customize web application e.g. include web plugins:
# 1. Uncomment line below
# 2. Use 'mwdb-core configure web' to rebuild web application or collect package bundle files

# web_folder = {{ web_folder }}

### Plugin settings

# Set enable_plugins to 0 to turn off plugins (default: 1)
# enable_plugins = 0

# List of plugin module names to be loaded, separated by commas
# plugins =

# Directory that will be added to sys.path for plugin imports
# Allows to load local plugins without installing them in site-packages
# local_plugins_folder = {{ local_plugins_folder }}

# Autodiscover plugins contained in local_plugins_folder (default: 0)
# local_plugins_autodiscover = 1

### Flask settings

## flask.cfg file path with additional Flask configuration (default: unset)
# flask_config_file = ./flask.cfg

### Storage settings

## Store files using local file system ('disk', default) or S3-compatible ('s3') storage
# storage_provider = s3

## Should we break up the uploads into different folders (default: 1)
## uploads/9/f/8/6/9f86d081884c7d659a2feaa0c55ad015a3bf4f1b2b0b822cd15d6c15b0f00a08
# hash_pathing = 0

## S3-compatible storage endpoint (required by storage_provider=s3)
# s3_storage_endpoint =

## S3-compatible storage Access Key (required by storage_provider=s3)
# s3_storage_access_key =

## S3-compatible storage Secret Key (required by storage_provider=s3)
# s3_storage_secret_key =

## S3-compatible storage Bucket Name (required by storage_provider=s3)
# s3_storage_bucket_name =

## S3-compatible storage Region Name
# s3_storage_region_name =

## Use TLS with S3 API (default: 0)
# s3_storage_secure = 1

## Use AWS IAM role authentication (deafult: 0)
# s3_storage_iam_auth = 1

### Extra features

# Set enable_rate_limit to 1 to turn on rate limiting (default: 0)
# enable_rate_limit = 1

# Set enable_registration to 1 to turn on registration features (default: 0)
# enable_registration = 1

# Set enable_maintenance to 1 to turn on maintenance mode (default: 0)
# enable_maintenance = 1

# Set enable_json_logger to 1 to turn on json logger (default: 0)
# enable_json_logger = 1

### Redis settings (required by rate limit feature)

# redis_uri = {{ redis_uri }}

### SMTP settings (required by registration features)

# mail_smtp = localhost:25

# mail_from = "noreply@mwdb.local"

# mail_username = "username"

# mail_password = "password"

# Enable StartTLS connection
# mail_tls = 1

# Path to mail templates used by registration features (default: served from package bundle)
# If you want to use customized mail templates:
# 1. Uncomment line below
# 2. Use 'mwdb-core configure mail-templates' to collect mail templates from bundle
# 3. Go to the configured folder and modify templates according to your needs

# mail_templates_folder = {{ mail_templates_folder }}

### reCAPTCHA settings (required by registration features)

# recaptcha_site_key = <site key>
# recaptcha_secret = <secret>

[mwdb_limiter]

### Rate limit settings for endpoints

## This values override default values for HTTP methods for particular endpoints.
## Each endpoint is designated by resource name (lowercase) plus underscore character and HTTP method. 
## Estimated value can contain many conditions separated by space - for example: 1000/10second 2000/minute 6000/5minute

# apikeyissue_post = 1000/10second 2000/minute 6000/5minute
# apikey_get = 
# apikey_delete = 
# attributelist_get = 
# attributelist_post = 
# attribute_delete = 
# attributedefinitionlist_get = 
# attributedefinitionlist_post = 
# attributedefinition_get = 
# attributedefinition_put = 
# attributedefinition_delete = 
# attributepermission_get = 
# attributepermission_put = 
# attributepermission_delete = 
# requestpasswordchange_post = 
# refreshtoken_post = 
# validatetoken_get = 
# authgrouplist_get = 
# textblob_get = 
# textblob_post = 
# textblobitem_get = 
# textblobitem_put = 
# textblobitem_delete = 
# comment_get = 
# comment_post = 
# commentdelete_delete = 
# configstats_get = 
# config_get = 
# config_post = 
# configitem_get = 
# configitem_put = 
# configitem_delete = 
# file_get = 
# file_post = 
# fileitem_get = 
# fileitem_post = 
# fileitem_delete = 
# filedownload_post = 
# grouplist_get = 
# group_get = 
# group_post = 
# group_put = 
# group_delete = 
# groupmember_post = 
# groupmember_put = 
# groupmember_delete = 
# kartonobject_get = 
# kartonobject_post = 
# kartonanalysis_get = 
# kartonanalysis_put = 
# metakey_get = 
# metakey_post = 
# metakey_delete = 
# metakeylistdefinition_get = 
# metakeylistdefinitionmanage_get = 
# metakeydefinitionmanage_get = 
# metakeydefinitionmanage_post = 
# metakeydefinitionmanage_put = 
# metakeydefinitionmanage_delete = 
# metakeypermission_put = 
# metakeypermission_delete = 
# openidprovider_post = 
# openidsingleprovider_get = 
# openidsingleprovider_put = 
# openidsingleprovider_delete = 
# openidbindaccount_post = 
# openidaccountidentities_get = 
# object_get = 
# objectitem_get = 
# objectitem_post = 
# objectitem_put = 
# objectitem_delete = 
# objectcount_get = 
# objectfavorite_put = 
# objectfavorite_delete = 
# quickquery_get = 
# quickquery_post = 
# quickqueryitem_delete = 
# relations_get = 
# objectchild_put = 
# objectchild_delete = 
# remotelist_get = 
# remotefilepull_post = 
# remoteconfigpull_post = 
# remotetextblobpull_post = 
# remotefilepush_post = 
# remoteconfigpush_post = 
# remotetextblobpush_post = 
# search_post = 
# serveradmininfo_get = 
# serverdocs_get = 
# sharegrouplist_get = 
# share_get = 
# share_put = 
# taglist_get = 
# tag_get = 
# tag_put = 
# tag_delete = 
# userlist_get =
# userpending_post = 
# userpending_delete = 
# userrequestpasswordchange_post = 
# usergetpasswordchangetoken_get = 
# user_get = 
# user_post = 
# user_put = 
# user_delete = 
# userprofile_get = 
